* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.bold {
    font-size: 24px;
    font-weight: 600;
}

.link {
    color: #007bff;
    border: 0;
}

.dates {
    width: 400px;
    border: 1px solid gray;
    border-radius: 16px;
    margin: 0 auto;
}

.dates ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 364px;
    margin: 0 auto;
}

.dates .datePickerHolder {
    flex-wrap: wrap;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    margin: 1px;
}

.buttonContainer {
    width: 364px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}

.prev,
.next {
    border: none;
    width: 70px;
}

.prev:hover,
.next:hover,
.link:hover {
    cursor: pointer;
}

.prev:before {
    content: '←';
    padding-right: 4px;
}

.next:after {
    content: '→';
    padding-left: 4px;
}

.datePickerHolder li {
    color: black;
    cursor: pointer;
    border-radius: 8px;
}

.header li {
    background-color: white;
    color: black;
}

.datePickerHolder li:hover {
    background-color: red;
}

.datePickerHolder .padder {
    color: gray;
}

.datePickerHolder .today {
    background-color: orange;
}

.datePickerHolder .selected {
    background-color: pink;
}
