.dates ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 364px;
    margin: 0 auto;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    margin: 1px;
}

.calendarHolder li {
    background-color: gray;
    color: white;
    cursor: pointer;
}

.header li {
    background-color: white;
    color: black;
}

.calendarHolder li:hover {
    background-color: red;
}

.calendarHolder .padder {
    background-color: Khaki;
}

.calendarHolder .date.selected {
    background-color: green;
}  