.center {
    text-align: center;
}
body {
    height: 100%;
    font-size: 100%;
    line-height: 1.5;
    font-family: 'Roboto Condensed', sans-serif;
    background: #28283b;
    color: #444;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
.group:after {
    content: '';
    display: table;
    clear: both;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: baseline;
}
a {
    text-decoration: none;
}
.calendar-wrapper {
    width: 360px;
    margin: 3em auto;
    padding: 2em;
    border: 1px solid #dcdcff;
    border-radius: 5px;
    background: #fff;
}
table {
    clear: both;
    width: 100%;
    border: 1px solid #dcdcff;
    border-radius: 3px;
    border-collapse: collapse;
    color: #444;
}
td {
    height: 48px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #dcdcff;
    border-top: 1px solid #dcdcff;
    width: 14.28571429%;
}
td.not-current {
    color: #c0c0c0;
}
td.today {
    font-weight: 700;
    color: #28283b;
    font-size: 1.5em;
}
td:hover {
    cursor: pointer;
}

thead td {
    border: none;
    color: #28283b;
    text-transform: uppercase;
    font-size: 1.5em;
}
.btnPrev {
    float: left;
    margin-bottom: 20px;
}
.btnPrev:before {
    content: '←';
    padding-right: 4px;
}
.btnNext {
    float: right;
    margin-bottom: 20px;
}
.btnNext:after {
    content: '→';
    padding-left: 4px;
}
.btnPrev,
.btnNext {
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #c0c0c0;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.btnPrev:hover,
.btnNext:hover {
    color: #28283b;
    font-weight: bold;
}
